button, .button {

    .blue & {
        background-color: #dbeeff;
        border-color: #8fc5ff;
    }
    
    .yellow & {
        background-color: #f7e4c0;
        border-color: #ffbe8f
    }
    
    .brown & {
        background-color: #f7e4c0;
        border-color: #ebd4c4; 
    }

    .green & {
        background-color: #c9f4c1;
        border-color: #92d679;
    }
}

.page {
    &.blue {
        background-color: #6868f2;
        color: white;
    }

    &.yellow {
        background-color: #eaef5e;
        color: #5d4f4f;
    }

    &.brown {
        background-color: #eaac6b;
        color: #ffeae1
    }

    &.green {
        background-color: #94eb9d;
        color: #3fa31b;
    }
}

h1 {
    .yellow & {
        border-bottom-color: #5d4f4f;
    }

    .brown & {
        border-bottom-color: #fcd8ca;
    }

    .green & {
        border-bottom-color: #3fa31b;
    }
}