.row {
    display: block;
    height: 50px;
    text-align: center;
}

    .cell {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: top;
        // border: 1px solid white;
        text-align: left;
        position: relative;

        

        

        

        // &.grass {
        //     // background-color: #52c952;
        //     // border-color: #52c952;
        //     // width: 50px;
        //     // height: 50px;
        // }

        &.mountain {
            // background-color: #6c1c1c;
            // border-color: #6c1c1c;

            height: 72px;
            margin-top: -21px;
        }

        &.hill {
            // background-color: #a36666;
            // border-color: #a36666;
            height: 52px;
            margin-top: -1.1px;
        }

        &.forest {
            // background-color: #136313;
            // border-color: #136313;
            width: 51px;
            height: 51px;
        }

        &.city {
            background-color: #a1a0a0;
            border-color: #a1a0a0;
        }

        &.farm {
            // background-color: #ebeb7c;
            // border-color: #ebeb7c;
            height: 53px;
            width: 50.75px;
            margin-top: -3px;
        }

        &.lake {
            background-color: #7777da;
            border-color: #7777da;  
        }

        
    }

    .cell_outer {
        height: 48px;
        display: inline-block;
        position: relative;

        &.up img {
            border-top: 2px solid black;
        }

        &.left img {
            border-left: 2px solid black;
        }

        &.down img {
            border-bottom: 2px solid black;
        }

        &.right img {
            border-right: 2px solid black;
        }

        .overlay {
            position: absolute;
            width: 48px;
            height: 48px;
            display: inline-block;
            left: 0px;

            &.selected {
                border:1px solid yellow;
            }

            &:hover {
                cursor: pointer;
                border: 1px solid white;
            }

            &.movable {
                background-color: #ffe0b1ab;
            }
        }
        
        .sstone {
            display: block;
            padding-top: 26px;
            text-align: left;

            img {
                width: 20px;
                height: 20px;
                border: 1px solid white;
                border-radius: 3px;
                box-shadow: 0 0 10px black;
            }   
        }

        .plants {
            display: block;
            text-align: left;
            padding-top: 26px;

            img {
                border: 1px solid white;
                border-radius: 3px;
                box-shadow: 0 0 10px black;
                width: 20px;
                height: 20px;
            }
        }

        .soil {
            display: block;
            padding-top: 26px;
            text-align: left;

            img {
                border: 1px solid white;
                border-radius: 3px;
                box-shadow: 0 0 10px black;
                width: 20px;
                height: 20px;
            }
        }

        .placename {
            color: white;
            display: block;
            font-family: sans-serif;
            font-size: 12px;
            padding-top: 34px;
            text-align: center;
        }

        .worker {
            position: absolute;
            top: 0;

            img {
                width: 25px;
                height: 25px;
                border: 1px solid white;
                border-radius: 4px;
            }
        }

        img.character {
            position: absolute;
            top: 7.5px;
            left: 7.5px;

            width: 35px;
            height: 35px;

            box-shadow: 0 5px 10px black;
            border: 2px solid white;
            border-radius: 5px;
        }
    }


.details {
    width: 400px;
    margin: 0 auto;
    text-align: center;
   

    & > span.detail {
        vertical-align: top;
        margin: 5px 5px;
        border: 1px solid green;
        padding: 5px;
        display: inline-block;
        border-radius: 5px;

        button {
            width: 100%;
            padding: 5px;
            height: auto;
            border-radius: 5px;
            border: 2px solid #92d679;
            margin-top: 2px;
        }
    }
}

.detail {
    width: 150px;

    label {
        font-weight: 600;
        display: block;
        text-align: center;
    }

    .special {
        line-height: 1.25;
        display: block;
        color: #aca206;
    }

    .warning {
        color: #e44141;
    }
}