.disciples {
    text-align: center;
    display: block;
}

.profile {
    display: inline-block;
    padding: 10px;
    font-family: 'Saira', sans-serif;
    line-height: 1.25;

    img {
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 5px;
    }

    label {
        display: block;
        font-weight: 600;
    }

    .role {
        display: block;
        color: #a31b1b;
        font-style: italic;
    }

    &.hoverable {
        border: 2px solid #00000000;

        &:hover {
            cursor: pointer;
            border: 2px solid #8a8787;
            border-radius: 5px;
        }
    }
}